input[type="radio"]:checked + .custom-checkbox {
  background: linear-gradient(to bottom, $linear-gradient-cyan, $linear-gradient-purple);

  img {
    opacity: 1;
  }
}

input[type="radio"] {
  opacity: 0;
  position: absolute;
}

.custom-checkbox {
  background-color: transparent;
  border: 1px solid $very-light-grayish-blue;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 50px;
  padding: 3px;

  img {
    opacity: 0;
    padding: 1px;
  }
}
