.wrapper {
  width: 100%;
  height: 100vh;

  &__img {
    width: 100%;
    background-image: url('../images/bg-desktop-light.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // height: 45vh;
    min-height: 45vh;

    @include respond(md) {
      background-image: url('../images/bg-mobile-light.jpg');
      min-height: 35vh;
    }

    @include respond(sm) {
      min-height: 30vh;
    }
  }
}

.container {
  width: 35rem;
  margin: 0 auto;
  margin-top: -10rem;
}
