input[type="checkbox"]:checked + .custom-checkbox {
  background: linear-gradient(
    to bottom,
    $linear-gradient-cyan,
    $linear-gradient-purple
  );

  img {
    opacity: 1;
  }
}

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.custom-checkbox {
  background-color: transparent;
  border: 1px solid $very-light-grayish-blue;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 50px;

  img {
    opacity: 0;
    padding: 4px;
  }
}

.todo {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $very-light-grayish-blue;

  label {
    padding: 1.5rem;
  }
}
