
input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

input[type="checkbox"]:checked + .custom-checkbox {
  background: linear-gradient(90deg, rgba(0,140,11,1) 0%, rgba(78,255,124,1) 75%, rgba(222,236,227,1) 100%);

  img {
    opacity: 1;
  }
}

.custom-checkbox {
  background-color: transparent;
  border: 1px solid $very-light-grayish-blue;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 50px;

  img {
    opacity: 0;
    padding: 4px;
  }
}

.todo {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $very-light-grayish-blue;

  label {
    padding: 1.5rem;
  }

  .custom-cross {
    padding: 2rem;
    position: absolute;
    right: 0;
    cursor: pointer;
  }
}

.sortable-drag {
  background-color: $light-grayish-blue;
}
