.wrapper {
  width: 100%;
  height: 100vh;

  &__img {
    width: 100%;
    background-image: url("../images/bg-desktop-light.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // height: 45vh;
    min-height: 45vh;

    @include respond(md) {
      background-image: url("../images/bg-mobile-light.jpg");
      min-height: 35vh;
    }

    @include respond(sm) {
      min-height: 30vh;
    }
  }
}

.container {
  width: 35rem;
  margin: 0 auto;
  position: relative;
  top: -15rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__form {
    margin-top: 3rem;
    position: relative;
    background-color: $very-light-gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;

    input[type="text"] {
      width: 100%;
      flex: 1;
      background: none;
      color: $dark-grayish-blue;
      font-family: "Josefin sans", sans-serif;
      font-size: $default-font-size;
      border-radius: 8px;
      height: 45px;
      border: none;
      outline: none;

      &::placeholder {
        color: $dark-grayish-blue;
      }
    }

    label {
      display: flex;
      justify-content: flex-start;
      padding: 1.5rem;
    }
  }

  &__todos {
    width: 100%;
    margin-top: 3rem;
    background-color: $very-light-gray;
    border-radius: 6px;

    .todo-list {
      list-style: none;

      label {
        input {
          opacity: 0;
          position: absolute;
        }
      }
    }
  }

  .filters {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
  }
}

body.dark {

  .container {
    
    color: $very-light-gray;

    &__todos {
      background-color: $very-dark-grayish-blue;
    }
  }
}
