@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
}

body {
  font-family: "Josefin sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

@media only screen and (max-width: 900px) {
  body {
    font-size: 16px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 15px;
  }
}

body.dark {
  background-color: #161722;
}

body.dark p {
  color: #777a92;
}

h1 {
  font-size: 36px;
  letter-spacing: 1.2rem;
  color: #fafafa;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 28px;
  }
}

img {
  display: block;
  max-width: 100%;
}

a {
  font-size: 16px;
  text-decoration: none;
  color: #9394a5;
}

@media only screen and (max-width: 900px) {
  a {
    font-size: 15px;
  }
}

p {
  font-size: 16px;
  text-align: center;
  margin: 4rem 0 2rem;
  color: #484b6a;
}

.theme {
  width: 2rem;
  cursor: pointer;
}

.wrapper {
  width: 100%;
  height: 100vh;
}

.wrapper__img {
  width: 100%;
  background-image: url("../images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 45vh;
}

@media only screen and (max-width: 900px) {
  .wrapper__img {
    background-image: url("../images/bg-mobile-light.jpg");
    min-height: 35vh;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper__img {
    min-height: 30vh;
  }
}

.container {
  width: 35rem;
  margin: 0 auto;
  position: relative;
  top: -15rem;
}

.container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__form {
  margin-top: 3rem;
  position: relative;
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
}

.container__form input[type="text"] {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: none;
  color: #9394a5;
  font-family: "Josefin sans", sans-serif;
  font-size: 18px;
  border-radius: 8px;
  height: 45px;
  border: none;
  outline: none;
}

.container__form input[type="text"]::-webkit-input-placeholder {
  color: #9394a5;
}

.container__form input[type="text"]:-ms-input-placeholder {
  color: #9394a5;
}

.container__form input[type="text"]::-ms-input-placeholder {
  color: #9394a5;
}

.container__form input[type="text"]::placeholder {
  color: #9394a5;
}

.container__form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1.5rem;
}

.container__todos {
  width: 100%;
  margin-top: 3rem;
  background-color: #fafafa;
  border-radius: 6px;
}

.container__todos .todo-list {
  list-style: none;
}

.container__todos .todo-list label input {
  opacity: 0;
  position: absolute;
}

.container .filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem;
}

body.dark .container {
  color: #fafafa;
}

body.dark .container__todos {
  background-color: #484b6a;
}

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

input[type="checkbox"]:checked + .custom-checkbox {
  background: -webkit-gradient(linear, left top, left bottom, from(#57ddff), to(#c058f3));
  background: linear-gradient(to bottom, #57ddff, #c058f3);
}

input[type="checkbox"]:checked + .custom-checkbox img {
  opacity: 1;
}

.custom-checkbox {
  background-color: transparent;
  border: 1px solid #e4e5f1;
  width: 22px;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 50px;
}

.custom-checkbox img {
  opacity: 0;
  padding: 4px;
}

.todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #e4e5f1;
}

.todo label {
  padding: 1.5rem;
}
/*# sourceMappingURL=main.css.map */